.modal {
    width: 500px;
    height: 500px;
    background-color: white;
    color: black;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -250px;
    font-size: 1.25em;
}

.modal h2 {
    text-align: center;
}

#informationBlock {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    height: 3em;
}

#informationBlock div {
    line-height: 3em;
}

body {
    color: white;
}

.inline {
    display: inline;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    width: 1.25em;
    text-align: center;
    border-radius: 10px;
}

.close:hover {
    background-color: #800e0ee3;
}

.indecator {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.counter {
    margin: 0 10px;
}

.minus {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 48px;
    line-height: 0.1em;
    height: 0.3em;
    display: block;
    width: 0.3em;
    float: left;
}

.plus {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 48px;
    line-height: 0.4em;
    height: 0.3em;
    display: block;
    width: 0.3em;
    float: right;
    text-align: center;
}

.btnBlock {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#textarea {
    position: absolute;
    bottom: 0;
    min-width: 99.4%;
    max-width: 99.4%;
    min-height: 200px;
}

.progress {
    width: 200px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background: #333 linear-gradient(#333, #969696) no-repeat;
    overflow: hidden;
    position: relative;
}

.progress span {
    position: absolute;
    left: 50%;
    margin-left: -1em;
}

.indecatorHealth {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid red;
    background: red no-repeat;
    box-shadow: 0 0 6px 0 black;
    text-align: center;

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.text_modal_h2 {
    text-align: center;
}

.text_modal_text {
    padding: 20px;
}

.text_modal_btn {
    position: absolute;
    bottom: 0;
}